In [83]:
import pandas as pd  # import pandas
df = pd.read_csv('/Users/yashs/Desktop/Book4.csv')   #read csv

In [84]:
df  #printdf

   index order_date_time  orig_curr_net_amount representative_key
0      0      1.3868E+12                  6435               A001
1      1      1.3868E+12                  4331               A002
2      2     1.38663E+12                     0               A003
3      3      1.3868E+12                 15458               A002
4    NaN             NaN                   NaN                NaN
5    NaN             NaN                   NaN                NaN
6    NaN             NaN                   NaN                NaN
7    NaN             NaN                   NaN                NaN
8    NaN             NaN                   NaN                NaN
9    NaN                                   NaN                NaN

In [85]:
import datetime as dt
df.your_time = df.order_date_time
for i in range(0,4):   #change timestamp to date time object mind the range of for loop 
    print df.order_date_time[i]
    
    df.set_value(i, 'your_time', (dt.datetime.fromtimestamp(float(df.order_date_time[i]) / 1000)))

1.3868E+12
1.3868E+12
1.38663E+12
1.3868E+12

In [86]:
df1 = df[:4]   #cut the dataframe so that NaN do not create problem 
df1.groupby([pd.Grouper(freq='1M',key='your_time'),'representative_key'])   # the double group by , first is for time .. change in freq, second is for the trader
# check this for more hints http://pandas.pydata.org/pandas-docs/stable/groupby.html#grouping-with-a-grouper-specification

In [82]:
df1.groupby([pd.Grouper(freq='1M',key='your_time'),'representative_key']).sum() # for sum of org curr net amount

                               index  orig_curr_net_amount
your_time  representative_key
2013-12-31 A001                    0                  6435
           A002                    4                 19789
           A003                    2                     0

In [87]:
df1.groupby([pd.Grouper(freq='1M',key='your_time'),'representative_key']).count() # for count of org curr net amount

                               index  order_date_time  orig_curr_net_amount  \
your_time  representative_key
2013-12-31 A001                    1                1                     1
           A002                    2                2                     2
           A003                    1                1                     1

                               your_time
your_time  representative_key
2013-12-31 A001                        1
           A002                        2
           A003                        1

In [88]:
my_grouped = df1.groupby([pd.Grouper(freq='1M',key='your_time'),'representative_key']).count() # for count of org curr net amount

In [ ]:
my_grouped['ori']