In [3]:
import pandas as pd  # import pandas
df = pd.read_csv('/Users/yashs/Documents/pandasFUN/Book4.csv')   #read csv

In [4]:
df  #printdf

   index order_date_time  orig_curr_net_amount representative_key
0      0      1.3868E+12                  6435               A001
1      1      1.3868E+12                  4331               A002
2      2     1.38663E+12                     0               A003
3      3      1.3868E+12                 15458               A002
4    NaN             NaN                   NaN                NaN
5    NaN             NaN                   NaN                NaN
6    NaN             NaN                   NaN                NaN
7    NaN             NaN                   NaN                NaN
8    NaN             NaN                   NaN                NaN
9    NaN                                   NaN                NaN

In [5]:
import datetime as dt
df.your_time = df.order_date_time
for i in range(0,4):   #change timestamp to date time object mind the range of for loop 
    print df.order_date_time[i]
    
    df.set_value(i, 'your_time', (dt.datetime.fromtimestamp(float(df.order_date_time[i]) / 1000)))

1.3868E+12
1.3868E+12
1.38663E+12
1.3868E+12

In [6]:
df.your_time

0     1.3868E+12
1     1.3868E+12
2    1.38663E+12
3     1.3868E+12
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9
Name: order_date_time, dtype: object

## check this for more hints http://pandas.pydata.org/pandas-docs/stable/groupby.html#grouping-with-a-grouper-specification

In [7]:
df1 = df[:4]   #cut the dataframe so that NaN do not create problem 
df1.groupby([pd.Grouper(freq='1M',key='your_time'),'representative_key'])   # the double group by , first is for time .. change in freq, second is for the trader

In [8]:
df1.groupby([pd.Grouper(freq='1M',key='your_time'),'representative_key']).sum() # for sum of org curr net amount

                               index  orig_curr_net_amount
your_time  representative_key
2013-12-31 A001                    0                  6435
           A002                    4                 19789
           A003                    2                     0

In [9]:
df1.groupby([pd.Grouper(freq='1M',key='your_time'),'representative_key']).count() # for count of org curr net amount

                               index  order_date_time  orig_curr_net_amount  \
your_time  representative_key
2013-12-31 A001                    1                1                     1
           A002                    2                2                     2
           A003                    1                1                     1

                               your_time
your_time  representative_key
2013-12-31 A001                        1
           A002                        2
           A003                        1

In [10]:
my_grouped = df1.groupby([pd.Grouper(freq='1M',key='your_time'),'representative_key']).count() # for count of org curr net amount

In [11]:
df1.groupby([pd.Grouper(freq='1M',key='your_time'),'representative_key']).sum() > 100 # sum for month

                               index orig_curr_net_amount
your_time  representative_key
2013-12-31 A001                False                 True
           A002                False                 True
           A003                False                False

In [75]:
df1.groupby([pd.Grouper(freq='1W',key='your_time'),'representative_key']).sum() > 100 # sum for week

                               index orig_curr_net_amount
your_time  representative_key
2013-12-15 A001                False                 True
           A002                False                 True
           A003                False                False

In [76]:
df1.groupby([pd.Grouper(freq='1H',key='your_time'),'representative_key']).sum() > 100 # sum for Day

                                        index orig_curr_net_amount
your_time           representative_key
2013-12-10 00:00:00 A003                False                False
2013-12-11 23:00:00 A001                False                 True
                    A002                False                 True

## change change the freq with alias see here 

http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases

In [77]:

    
df2 = df1.groupby([pd.Grouper(freq='D',key='your_time'),'representative_key']).sum() > 100 # sum for Day
df2

                               index orig_curr_net_amount
your_time  representative_key
2013-12-10 A003                False                False
2013-12-11 A001                False                 True
           A002                False                 True

In [78]:
df1.groupby(['representative_key',pd.Grouper(freq='min',key='your_time')]).count()

,,index,order_date_time,orig_curr_net_amount,your_time
representative_key,your_time,,,,
A001,2013-12-11 23:13:00,1,1,1,1
A002,2013-12-11 23:13:00,2,2,2,2
A003,2013-12-10 00:00:00,1,1,1,1

## More alias to change frequency http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases

In [80]:
df1.groupby(['representative_key',pd.Grouper(freq='min',key='your_time')]).sum()

                                        index  orig_curr_net_amount
representative_key your_time
A001               2013-12-11 23:13:00      0                  6435
A002               2013-12-11 23:13:00      4                 19789
A003               2013-12-10 00:00:00      2                     0

## Change here for the count in the filter

In [81]:
newdf = df1.groupby(['representative_key',pd.Grouper(freq='min',key='your_time')]).filter(lambda x: x.count() > 1)

In [82]:
newdf

,index,order_date_time,orig_curr_net_amount,representative_key,your_time
1,1,1.3868E+12,4331,A002,2013-12-11 23:13:20
3,3,1.3868E+12,15458,A002,2013-12-11 23:13:20

In [83]:
#change columns to string
newdf['str_repkey'] = newdf.representative_key.astype(str)
newdf['str_time'] = newdf.order_date_time.astype(str)
newdf['str_order'] = newdf.orig_curr_net_amount.astype(str)

newdf

,index,order_date_time,orig_curr_net_amount,representative_key,your_time,str_repkey,str_time,str_order
1,1,1.3868E+12,4331,A002,2013-12-11 23:13:20,A002,1.3868E+12,4331.0
3,3,1.3868E+12,15458,A002,2013-12-11 23:13:20,A002,1.3868E+12,15458.0

## Create a new column as a unique index of actor and time

In [84]:
# seperator is |
newdf['concat'] = newdf[['str_repkey', 'str_time']].apply(lambda x: '|'.join(x), axis=1)

In [85]:
newdf

,index,order_date_time,orig_curr_net_amount,representative_key,your_time,str_repkey,str_time,str_order,concat
1,1,1.3868E+12,4331,A002,2013-12-11 23:13:20,A002,1.3868E+12,4331.0,A002|1.3868E+12
3,3,1.3868E+12,15458,A002,2013-12-11 23:13:20,A002,1.3868E+12,15458.0,A002|1.3868E+12

In [91]:
#seperator is |
newdf.groupby(['concat', 'your_time'])['str_order'].apply('|'.join).reset_index()

            concat           your_time       str_order
0  A002|1.3868E+12 2013-12-11 23:13:20  4331.0|15458.0